export default {
  auth0Domain: 'your_domain.auth0.com',
  auth0ClientId: 'your_auth0_client_id',
  projectId: 'default_gtfs_manager_project_id',
  managerUrl: 'http://localhost:9000',
  editorUrl: 'http://localhost:9001',
  title: 'Transit Data Manager'
}
